
.header {
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.header ul li {
    display: inline-flex;

}
.header ul li a {
    text-decoration: none;
    margin-right: 15px;
    color: black;
}

.header ul {
    margin: 25px 0;
}
.header img {
    width: 100px;
    height: auto;
}
.header ul li a:hover {
    color:rgb(96, 252, 82);
}

.header-item {
    display: inline-flex;
}
.header-item__dangnhap button{
    border: 1px solid chartreuse;
    border-radius: 20px;
    color: chartreuse;
    background-color: #fff;
    padding: 7px;
}

.header-item__giohang button{
    border: 1px solid chartreuse;
    border-radius: 20px;
    color: chartreuse;
    background-color: #fff;
    padding: 7px;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-img {
    margin-right: 20px;
}

.container-imgs img{
    width: 347px;
}

.container img {
    width: 700px;
    border-radius: 20px;
}

.product {
    display: flex;
    text-align: center;
}
.product-items img {
    width: 260px;
    border-radius: 10px;
}
.product .product-items {
    width: 25%;
}